{{ define "main" }}
  <article>
    {{- .Scratch.Set "headerClass"
      "c-page-header--splash"
    }}
    {{- partial "page-header.html" . }}
    {{ with .Content }}
      <section class="c-copy">
        {{ . }}
      </section>
    {{ end }}
    {{ if .Params.menus_to_map }}
      {{ partial "menu-map.html" . }}
    {{ else if .Params.taxonomy_to_map }}
      {{ partial "taxonomy-map.html" . }}
    {{ else }}
      <ol class="c-timeline c-timeline--card">
        {{- range site.Menus.syllabus }}
          <li class="c-timeline__entry">{{ partial "card.html" . }}</li>
        {{- end }}
      </ol>
    {{ end }}
  </article>
{{ end }}
